  <div class="thumbnail person" data-id="<%= badge.id %>">
    <div class="created-at"><%= badge.created_at.localtime.strftime('%-m/%-d/%Y %-I:%M%p') %></div>
      <img src="<%= badge.picture.url(:thumb) %>" alt="<%= badge.name %>">
    <div class="caption text-center">
      <h3><i class="text-muted fa fa-3x fa-question-circle"></i></h3>
      <p>
        <span class="title">&nbsp;</span>
        <span class="department">&nbsp;</span>
      </p>
    </div>
  </div>

