  <div class="thumbnail name-tag grabbable" data-id="<%= badge.id %>" draggable="true">
    <div class="caption text-center">
      <h3>
        <%= badge.name %>
      </h3>
      <p>
        <span class="title"><%= badge.title %></span>
        <span class="department"><%= badge.department %></span>
      </p>
    </div>
  </div>
