<h1>Gallery</h1>
<div class="gallery">
    <% @badges.each do |b| %>
      <%= render 'gallery_badge', badge: b %>
    <% end %>
</div>

<div class="row">
  <%= will_paginate @badges, renderer: BootstrapPagination::Rails  %>
</div>
