<h1>Gallery</h1>
<div class="gallery">
  <div class="row">
    <% @badges.each do |b| %>
      <%= render 'gallery_badge', badge: b %>
    <% end %>
  </div>
  <%= will_paginate @badges, renderer: BootstrapPagination::Rails  %>
</div>
