<h1>
  Guess Who
  <div class="scoreboard">
  </div>
</h1>

<div class="gallery guesswho">
  <% @badges.each do |b| %>
    <%= render 'guesswho_badge', badge: b %>
  <% end %>
</div>

<div class="guesswho-nametags">
  <% @badges.shuffle.each do |b| %>
    <%= render 'name_tag', badge: b %>
  <% end %>
</div>
